[Unit]
Description=multiRemte - Advanced multi-user remote control
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/multiremote
ExecStart=/root/multiremote/multiremote.py
Restart=on-abort
SyslogIdentifier=multiRemote

[Install]
WantedBy=multi-user.target
